POSTGRES_DB=aqp
POSTGRES_USER=aqp_user
POSTGRES_PASSWORD=aqp_pass
POSTGRES_PORT=5433
APP_PORT=8000
DATABASE_URL=postgresql+psycopg2://aqp_user:aqp_pass@db:5432/aqp
KAFKA_TOPIC=air_quality_raw
AIRFLOW_PORT=8080
